<!-- 
  Works with rocon_hub/hub.launch. 
-->
<launch>
  <node pkg="rocon_gateway" type="gateway.py" name="gateway" output="screen">
    <param name="hub_uri" value="http://robot-devil.csres.utexas.edu:6380" />
    <rosparam command="load" file="$(find rocon_gateway)/param/default.yaml" />
    <rosparam command="load" file="$(find rocon_gateway)/param/default_blacklist.yaml" />
  </node>
</launch>
