<launch>

  <arg name="hub_uri" default="http://localhost:6380" />
  <arg name="gateway_name" default="gazebo"/>
  <!-- Polling period for multimaster advertising/flipping -->
  <arg name="gateway_watch_loop_period" default="5"/>
  <arg name="hub_whitelist" default=""/> <!-- semi-colon separated hub names/regex patterns -->

  <include file="$(find rocon_hub)/launch/hub.launch" />

  <node pkg="rocon_gateway" type="gateway.py" name="gateway">
    <rosparam command="load" file="$(find rocon_gateway)/param/default.yaml" />
    <rosparam command="load" file="$(find rocon_gateway)/param/default_blacklist.yaml" />
    <rosparam command="load" file="$(find bwi_orchestration)/params/gazebo.yaml" />
    <param name="hub_uri" value="$(arg hub_uri)" />
    <param name="name" value="$(arg gateway_name)"/> <!-- <rosparam param="name" subst_value="true">$(arg robot_name)</rosparam> -->
    <rosparam param="firewall">true</rosparam> <!-- Nothing comes in! -->
    <param name="watch_loop_period" value="$(arg gateway_watch_loop_period)"/>
    <param name="hub_whitelist" value="$(arg hub_whitelist)"/>
    <param name="disable_uuids" value="True"/>
  </node>

  <include file="$(find bwi_orchestration)/launch/environment.launch" />
  
</launch>
